.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5C5C5C;
    height: 105px;

}

.navbar a {
    font-size: 36px;
    line-height: 36px;
    font-family: The Next Font;
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding-right: 141px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffffff;
    color: black;
}

.main {
    margin-top: 100px;
}
