@font-face {
    font-family: 'the_next_fontregular';
    src: url('./fonts/thenextfont-webfont.woff') format('woff2'),
         url('./fonts/thenextfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.navbar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5C5C5C;
    height: 100px;

}

.navbar a {
    font-size: 24px;
    line-height: 36px;
    font-family: 'the_next_fontregular';
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding-top: 30px;
    
    padding-right: 141px;
    text-decoration: none;
}

.navbar a:hover {
    padding-bottom: 25px;
    background-image: "./img/blackRectangle.png";

}

.main {
    margin-top: 200px;
}
